In [ ]:
# !pip install pycaret

In [ ]:
# !pip install pycaret[full]

In [1]:
from pycaret.utils import version
version()

'2.3.0'

In [2]:
from pycaret.datasets import get_data
data = get_data('juice')

,Id,Purchase,WeekofPurchase,StoreID,PriceCH,PriceMM,DiscCH,DiscMM,SpecialCH,SpecialMM,LoyalCH,SalePriceMM,SalePriceCH,PriceDiff,Store7,PctDiscMM,PctDiscCH,ListPriceDiff,STORE
0,1,CH,237,1,1.75,1.99,0.00,0.0,0,0,0.500000,1.99,1.75,0.24,No,0.000000,0.000000,0.24,1
1,2,CH,239,1,1.75,1.99,0.00,0.3,0,1,0.600000,1.69,1.75,-0.06,No,0.150754,0.000000,0.24,1
2,3,CH,245,1,1.86,2.09,0.17,0.0,0,0,0.680000,2.09,1.69,0.40,No,0.000000,0.091398,0.23,1
3,4,MM,227,1,1.69,1.69,0.00,0.0,0,0,0.400000,1.69,1.69,0.00,No,0.000000,0.000000,0.00,1
4,5,CH,228,7,1.69,1.69,0.00,0.0,0,0,0.956535,1.69,1.69,0.00,Yes,0.000000,0.000000,0.00,0

In [3]:
data.dtypes

Id                  int64
Purchase           object
WeekofPurchase      int64
StoreID             int64
PriceCH           float64
PriceMM           float64
DiscCH            float64
DiscMM            float64
SpecialCH           int64
SpecialMM           int64
LoyalCH           float64
SalePriceMM       float64
SalePriceCH       float64
PriceDiff         float64
Store7             object
PctDiscMM         float64
PctDiscCH         float64
ListPriceDiff     float64
STORE               int64
dtype: object

In [4]:
data['Purchase'].value_counts()

CH    653
MM    417
Name: Purchase, dtype: int64

In [5]:
from pycaret.classification import *
s = setup(data, target = 'Purchase', log_experiment = True, experiment_name = 'dsc1',
          fold = 3)

2021/04/15 17:27:44 WARNING mlflow.tracking.context.git_context: Failed to import Git (the Git executable is probably not on your PATH), so Git SHA is not available. Error: No module named 'repository'

In [6]:
xgboost = create_model('xgboost')

In [7]:
deploy_model(xgboost, 'dsc123', platform = 'aws', authentication = {'bucket' : 'pycaret-test'})

Model Succesfully Deployed on AWS S3

In [ ]:
# add_metric()

In [ ]:
%%time
best = compare_models()

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
asd = LogisticRegression()

In [ ]:
create_model(asd)

In [ ]:
lr = create_model('lr')

In [ ]:
tuned_lr = tune_model(lr)

In [ ]:
tuned_lr = tune_model(lr, search_library = 'optuna')

In [ ]:
tuned_lr = tune_model(lr, search_library = 'scikit-optimize')

In [ ]:
dt = create_model('dt')

In [ ]:
dt

In [ ]:
bagged_dt = ensemble_model(dt, method = 'Boosting')

In [ ]:
bagged_dt

In [ ]:
plot_model(lr, plot = 'feature')

In [ ]:
evaluate_model(lr)

In [ ]:
dt = create_model('dt')
plot_model(dt, plot = 'boundary')

In [ ]:
xgboost = create_model('xgboost')

In [ ]:
interpret_model(xgboost)

In [ ]:
save_model(xgboost, model_name = 'abc')

In [ ]:
!mlflow ui